<section class="block-map">
  <div *ngIf="this.isLoading | async else content" class="pixel-blocks-loader"></div>

  <ng-template #content>
    <div *ngFor="let row of blocksRowAmount; let rowIndex = index" class="block-row">
      <ng-container *ngFor="let col of blocksColAmount; let colIndex = index;">
        <div *ngIf="blocks[rowIndex * blocksColAmount.length + colIndex]" 
          class="block" 
          [class.owned]="currentUserAddress === blocks[rowIndex * blocksColAmount.length + colIndex]!.owner"
          [class.selected]="selectedBlock?.id === blocks[rowIndex * blocksColAmount.length + colIndex]!.id"
          [style.background-color]="blocks[rowIndex * blocksColAmount.length + colIndex]!.color | color"
          (click)="onBlockClick(blocks[rowIndex * blocksColAmount.length + colIndex])">
        </div>
      </ng-container>
    </div>
  </ng-template>
</section>
