:host {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.block-map {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: center;
}

.block-row {
  display: flex;
}

.block {
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  cursor: pointer;

  &.owned {
    border: 2px solid white;
    border-top-style: inset;
  }

  &.selected {
    border: 2px solid rgb(226, 19, 19);
    border-top-style: inset;
  }
}
